@import url(base.css);
/*banner start*/
#hnz_banner_box{
	width:100%;
	height:410px;
	background:#449596;
	overflow: hidden;
	}
.hnz_banner{
	width:1100px;
	height:380px;
	position:relative;
	margin:30px auto 0;
	}
.hnz_banner_list{
	width:100%;
	height:100%;
	position:relative;
	}
.hnz_banner_list a{
	position:absolute;
	width:100%;
	height:100%;
	overflow: hidden;
	top:0;
	left:0;
	}
.hnz_banner_list a img{
	width:100%;
	height: 100%;
}
.hnz_banner_list .hnz_bg{
	width:1100px;
	height:80px;
	background:#000;
	opacity:0.6;
	_filter:alpha(opacity=60);
	position:absolute;
	/*z-index:1;*/
	left:0;
	bottom:0;
	}
.hnz_banner_list .hnz_ban_cont{
	width:1060px;
	height:60px;
	padding:10px 20px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:2;
	color:#fff;
	display: none;
	}
.hnz_ban_cont h3{
	font-size:18px;
	line-height:24px;
	}
.hnz_ban_cont p{
	font-size:14px;
	line-height:18px;
	}
.hnz_bbtn{
	width:100%;
	height:100px;	
	position:absolute;
	top:50%;
	margin-top:-50px;
	z-index:0;
	}
.hnz_bbtn a{
	width:100px;
	height:100px;
	font-size:100px;
	text-align:center;
	line-height:100px;
	color:#fff;
    transition: all 0.5s;
	font-family:"YouYuan";
	}
.hnz_bbtn a:hover{
    color:#FB601F;
}
.hnz_btn_l{
	margin-left:-100px;
	}
.hnz_btn_r{
	margin-right:-100px;
	}
/*banner end*/
.hnz_contentbox{
	width:100%;
	height:auto;
	overflow:hidden;
	background:#f5f1f0;
	}
/* 校务公告 start */
#hnz_sinfo{
	width:1100px;
	height:500px;
	margin:40px auto;
	}

.hnz_sinfo_l{
	width:745px;
	height:100%;
	background:#fff;
	box-shadow:0px 0px 10px #ddd;
	float:left;
	}
.hnz_s_title{
	width:100%;
	height:100px;
	overflow:hidden;
	color:#5c5c5c;
	}
.hnz_s_title h3{
	font-size:22px;
	margin:30px 0 0 30px;
	line-height:32px;
	}
.hnz_s_title b{
	font-size:18px;
	line-height:24px;
	margin-left:30px;
	}
.hnz_s_img{
	width:100%;
	height:200px;
	overflow:hidden;
	}
.hnz_s_img img{
	width:100%;
	height:100%;
	}
.hnz_s_info{
	width:685px;
	height:140px;
	border:30px solid #fff;
	overflow:hidden;
	font-size:14px;
	line-height:24px;
	color:#5c5c5c;
	}
.hnz_s_info a{
	font-size: 14px;
	line-height:24px;
	color:#5c5c5c;
}


.hnz_sinfo_r{
	width:320px;
	height:100%;
	background:#fff;
	box-shadow:0px 0px 10px #ddd;
	float:right;
	}
.hnz_s_r_title{
	width:260px;
	height:65px;
	padding:15px 30px 0px;
	background:#429697;
	color:#fff;
	}
.hnz_s_r_title h3{
	font-size:22px;
	line-height:32px;
	}
.hnz_s_r_title p{
	font-size:20px;
	line-height:28px;
	}
.hnz_s_r_list{
	width:260px;
	height:320px;
	padding:20px 30px;
	}
.hnz_s_r_list li{
	height:38px;
	line-height:38px;
	border-bottom:1px solid #f8f8f8;
	overflow:hidden;
	}
.hnz_s_r_list li a{
	font-size:16px;
	transition:all 0.5s;
	color:#5c5c5c;
	}
.hnz_s_r_list li a:hover{
	color:#fb601f;
	}
.hnz_s_r_more{
	width:100%;
	height:60px;
	}
.hnz_s_r_more a{
	font-size:38px;
	line-height:25px;
	transition: all 0.5s;
	color:#999;
	float:right;
	margin-right:30px;
	}
.hnz_s_r_more a:hover{
	color:#fb601f;
	}
/* 校务公告 end */
/* 快速导航 start*/
#hnz_qnav{
	width:1100px;
	height:360px;
    margin:0 auto 30px;
}

.hnz_qnav_l{
     width:320px;
     height:100%;
     background:#fff;
     box-shadow:0px 0px 10px #ddd;
     float:left;
 }
.hnz_qnav_l_title{
    width:260px;
    height:65px;
    padding:15px 30px 0px;
    background:#429697;
    color:#fff;
}
.hnz_qnav_l_title h3{
    font-size:22px;
    line-height:32px;
}
.hnz_qnav_l_title p{
    font-size:20px;
    line-height:28px;
}
.hnz_qnav_l_box{
    width: 100%;
    height:250px;
    overflow: hidden;
}
.hnz_qnav_l_list{
    width: 100%;
    height:auto;
    overflow: hidden;
}
.hnz_qnav_l_list li{
    width:100%;
    height:50px;
    text-align: center;
    line-height: 50px;
    color:#5c5c5c;
}
.hnz_qnav_l_list li a{
    display: block;
    width:100%;
    height:100%;
    font-size:18px;
    transition: all 0.5s;
}
.hnz_qnav_l_list li a:hover{
    color:#fb601f;
}
.hnz_qnav_l_btn{
    width:100%;
    height:30px;
    background:#f5f5f5;
}
.hnz_qnav_l_btn a{
    width:0;
    height:0;
    border:12px solid #429697;
    border-left:10px solid #f5f5f5;
    border-right:10px solid #f5f5f5 ;
    float:left;
    transition: all 0.5s;
}
.hnz_qnav_l_btn .hnz_btn_up{
    border-top: 0;
    margin:7px 10px 0 135px;
}
.hnz_qnav_l_btn .hnz_btn_down{
    border-bottom: 0;
    margin-top:7px;
}
.hnz_qnav_l_btn a:hover{
    border-color:#fb601f;
    border-left:10px solid #f5f5f5;
    border-right:10px solid #f5f5f5 ;
}



.hnz_qnav_r{
    width:750px;
    height:100%;
    background:#fff;
    box-shadow:0px 0px 10px #ddd;
    float:right;
	overflow: hidden;
}
.hnz_qnav_r li{
    width:690px;
    height:300px;
    padding:30px;
	background: #ffffff;
}
.hnz_qnav_r_img{
    width:290px;
    height:300px;
    overflow: hidden;
    /*border:5px solid #cccccc;*/
    float:left;
}
.hnz_qnav_r_img img{
    width:100%;
}
.hnz_qnav_r_cont{
    float:right;
    width:380px;
    height:300px;
    overflow: hidden;
}
.hnz_qnav_r_cont a{
	font-size: 14px;
    line-height: 24px;
    color:#5c5c5c;
}
/* 快速导航 end */
#hnz_imgoutbox{
	min-width:1100px;
	_width:expression(document.documentElement.clientWidth>1100?document.documentElement.clientWidth:1100);
	height:270px;
	margin-bottom:30px;
	background:#e1f9f9;
	overflow: hidden;
}
.hnz_imginner{
	width:1100px;
	height:200px;
	margin:35px auto 0;
	overflow: hidden;
}
.hnz_img_list{
	width:auto;
	height:100%;
}
.hnz_img_list li{
	width:260px;
	height:100%;
	overflow: hidden;
	float:left;
	margin-right:20px;
}
.hnz_img_list li img{
	width:100%;
	height:100%;
}

/*活动 start*/
#hnz_active_box{
	width:1100px;
	height:640px;
	margin:0 auto;
	margin-bottom:30px;
	overflow: hidden;
}
.hnz_active{
	width:540px;
	height:640px;
	background:#fff;
	box-shadow:0px 0px 10px #ddd;
}

.hnz_active_title{
	width:100%;
	height:80px;
	overflow:hidden;
	color:#5c5c5c;
	border-bottom:1px solid #eee;
}
.hnz_active_title h3{
	font-size:22px;
	margin:15px 0 0 30px;
	line-height:32px;
}
.hnz_active_title b{
	font-size:18px;
	line-height:24px;
	margin-left:30px;
}
.hnz_active_title2{
	display: block;
	padding-left:30px;
	height:45px;
	font-size: 18px;
	line-height: 45px;
	color:#555;
	transition: all .5s;
}
.hnz_active_title2:hover{
	color:#FB601F;
}
.hnz_active_img{
	width:100%;
	height:195px;
	overflow:hidden;
}
.hnz_active_img img{
	width:100%;
	height:195px;
}
.hnz_active_info{
	width:500px;
	height:120px;
	border:20px solid #fff;
	overflow:hidden;

	box-shadow: 0px 1px 3px #ccc;
}
.hnz_active_info a{
	font-size:14px;
	line-height:24px;
	color:#5c5c5c;
}
.hnz_active_list{
	width:100%;
	height:105px;
	overflow: hidden;
}
.hnz_active_list li{
	padding:0 20px 0 10px;
	line-height:34px;
	color:#5c5c5c;
	border-bottom: 1px dotted #eee;
}
.hnz_active_list li span{
	float:left;
	width:15px;
	height:34px;
	font-size:33px;
	color:#5c5c5c;
}
.hnz_active_list li a{
	font-size: 14px;
	color:#5c5c5c;
}
.hnz_active_list li:hover a,.hnz_active_list li:hover span{
	color:#FB601F;
}
.hnz_active_more{
	width:100%;
	height:55px;
	overflow: hidden;
}
.hnz_active_more a{
	font-size:38px;
	line-height:35px;
	transition: all 0.5s;
	color:#999;
	float:right;
	margin-right:30px;
}
.hnz_active_more a:hover{
	color:#fb601f;
}
/*活动 end*/

